

h1 {
  position: absolute;
  opacity: 0.7;
  top: 1rem;
  left: 1rem;
  color: black;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.app{
  overflow-y: hidden;
}

.app-row{
  overflow: hidden;
}

.results-col{
  overflow-y: auto;
  max-height: 100vh;
}